[Desktop Entry]
Name=plant
Comment=plant record
Exec=python3 /home/pi/plant.py
Icon=/home/pi/plant.png
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true