[Desktop Entry]
Name=plant
Comment=plant record
Exec=/home/pi/plant/start.sh
Icon=/home/pi/plant/plant.png
Terminal=true
Type=Application
Categories=Utility
X-KeepTerminal=true
